{% extends 'base.html' %}
{% block content %}

<h1>Skills (Index) Page</h1>

<div class="skills-div">
  <div class="languages-div">
    <h4>Languages</h4>
    <ul class="skills-languages">
      <li class="skills-languages-item"></li>
    </ul>
  </div>
  <div class="frameworks-div">
    <h4>Frameworks</h4>
    <ul class="skills-frameworks">
      <li class="skills-frameworks-item"></li>
    </ul>
  </div>
  <div class="databases-div">
    <h4>Databases</h4>
    <ul class="skills-databases">
      <li class="skills-databases-item"></li>
    </ul>
  </div>
  <div class="styling-div">
    <h4>Styling</h4>
    <ul class="skills-styling">
      <li class="skills-styling-item"></li>
    </ul>
  </div>
</div>


{% for skill in skills %}
  {% comment %} need to do do if statment to check and see if the skill_type is language, framework, db, or styling and append the list item to the div above {% endcomment %}
  
  <a class="skill-link" href="{% url 'skill_projects' skill.id %}">
    {% comment %} same as <a class="skill-link" href="{{ skill.id }}"> but in djnago form  {% endcomment %}
    <li class="skill-list-item">{{ skill.name }}</li>
  </a>
{% endfor %}
 
{% endblock %}
