{% extends 'base.html' %}
{% block content %}

<h1>Skills (Index) Page</h1>

  {% for project in projects %}
    <div class="card mb-3" style="width: 400px; height: 400px">
    
      <a href = {{ project.project_url }}>
        <img class="card-img-top" src="../static/images/default_img.png" alt="Card image cap">

      <div class="card-body">
        </a>
        <a href = {{ project.project_url }}>
          <h5 class="card-title">{{ project.name }}</h5>
        </a>
          <div class="card-left-divide">
            {% comment %} <p class="card-text">{{ project.description}}</p> {% endcomment %}
            <p class="card-text">{{ project.timeframe}}</p>
          </div>
          <p class="card-text">
            <small class="text-muted">{{ project.deployment_date }}</small>
          </p>
      </div>

    </div>
  {% endfor %}

{% endblock %}